/*
  MAIN
*/

body {
  background-color: #FFF;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.text-center {
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 100em;
  padding-top: 1.5em;
  padding-bottom: 2.2em;
}

header {
  position: relative;
  margin: 0 auto 30px;
  max-width: 300px
}

header h1 {
  font-weight: 400;
  font-size: 1.4em;
}

@media screen and (min-width: 390px) {
  header {
    max-width: 370px
  }
}

.description {
  width: 550px;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 0 auto 40px;
  color: #9B9B9B;
  text-align: center;
}

/*
  QUOTE ANIMATION
*/

@keyframes quotes {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes quotes-title {
  100%  { opacity: 1; }
}

.quote {
  opacity: 0;
}

h1.quote {
  animation: 'quotes-title' 1s forwards;
}
span.quote {
  font-size: 98%;
  position: absolute;
  animation: 'quotes' 1s forwards;
}

.quote:nth-child(1) {
  font-size: 72%;

  top: 0;
  left: 0;

  -ms-transform: rotate(-16deg);
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);

  animation-delay: 0.5s;
}
.quote:nth-child(2) {
  top: 0;
  right: 0;

  font-size: 95%;

  -ms-transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);

  animation-delay: 1.5s;
}
.quote:nth-child(3) {
  top: 4px;
  left: 90px;
  animation-delay: 3s;
}
.quote:nth-child(4) {
  animation-delay: 3s;
}
.quote.last-quote {
  animation-delay: 4s;
}

@media screen and (min-width: 390px) {
  .quote:nth-child(3) {
    left: 122px;
  }
}

/*
  DETAILS
*/


.features-list {
  padding: 0 20px;
  margin-top: -20px;
  background-color: #424242;
  color: #FFF;
}

.features {
  margin: 0 auto;
  padding: 65px 0 45px;
  max-width: 840px;
  width: 100%;
}

.features .feature {
  margin: 40px 0;
  min-height: 110px;
  overflow: hidden;
}

.features .feature:first-child {
  margin-top: 0;
}

.features .feature:last-child {
  margin-bottom: 0;
}

.features .feature .feature-img {
  width: 100%;
  float: left;
  text-align: center;
}

.features .feature .feature-img img {
  width: 85%;
  margin-bottom: 20px;
}

.features .feature .feature-description {
  width: 100%;
  float: left;
}

@media screen and (min-width: 762px) {
  .features .feature .feature-img {
    width: 50%;
  }

  .features .feature .feature-img img {
    width: 100%;
    margin-bottom: 0;
  }

  .features .feature .feature-description {
    width: 45%;
    padding-left: 25px;
  }
}


.features .feature .feature-title {
  margin: 0 0 1rem;
  font-size: 1.3rem;
  font-family: Montserrat,Open Sans,Lucida Grande,sans-serif;
}

.features .feature .feature-text {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/*
  ACTIONS
*/

.actions {
}

.actions > a {
  width: 250px;
  position: relative;
}

.btn {
  height: 35px;
  padding: 5px;
  line-height: 2em;
  border-radius: 5px;

  font-size: 1em;
  font-weight: 500;

  color: #FFF;
  background-color: #CC1B00;

  text-decoration: none;

  display: inline-block;
}

.get-it {
  background-color: #EA2001;
}
.get-it:hover {
  background-color: #CC1B00;
}

.github {
  color: #444;
  text-decoration: none;
}
.github:hover {
  color: #000;
}

/*
  FOOTER
*/

footer {
  width: 350px;
  padding-bottom: 25px;
  margin: auto;
  text-align: right;
}

footer iframe {
  vertical-align: middle;
  min-width: 80px;
}

.twitter-share-button {
  min-width: 62px
 }

.github-button {
  min-width: 80px;
  visibility: hidden;
  display: inline-block;
}

.bullet {
  margin: 0 5px;
  font-weight: 500;
  vertical-align: middle;
}

.by {
  font-size: 14px;
}

.by a {
  text-decoration: none;
  color: #EA2001;
}
